/* section business setting */
#head-business{
    width: 70%;
    /* DEBUG */
    min-height: 50px;
    background-color: gray;
    border: 1px solid black;
}

#select-business{
    width: 50%;
    margin-top: 10%;
    /* DEBUG */
    min-height: 50px;
    background-color: gray;
    border: 1px solid black;
}

/* PLAN CARDS */
#plan-cards{

    margin-top: 10%;
    /* flex */
    display: flex;
    justify-content: space-between;
}

.card{
    min-height: 500px;
    width: 30%;
    background-color: blue;
}

/* PLAN CARD > ENTERPRISE */
#enterprise{
    margin-top: 5%;
    /* DEBUG*/
    border: 1px solid red;
    min-height: 200px;
}

#enterprise :first-child{
    width: 100%;
    /* DEBUG */
    border: 1px solid red; 
    min-height: 20px;

}


/* PARTNER DROP BOX */
#partner-box{
    margin-top: 10%;

    /* flex */
    display: flex;
    align-items: center;
    /* DEBUG */
    width: 100%;
    min-height: 400px;
    border: 1px solid green;
}

#partner-box :first-child{
    width: 60%;
    /* DEBUG */
    border: 1px solid black;
    min-height: 400px;
}

#partner-box :nth-child(2){
    width: 40%;
    /* DEBUG */
    border: 1px solid blue;
    min-height: 400px;
}

/* OPERAZIONI D-B BUSINESS */
#test{
    min-height: 25px;
    width: 100%;
    background-color: gray;
    margin-top: 10%;
    margin-bottom: 10%;
}

#first-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#second-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-card{
    /* DEBUG */
    min-width: 70px;
    min-height: 100px;
    border: 1px solid black;
}

/* <!-- 500.000 TEAM D-B BUSINESS --> */
#ft-titol{
    margin-top: 10%;
}

#ft-link{
    margin-top: 10%;
    display: inline-block;
}

/* <!-- COLLABORATION --> */

#grid-container{
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    border: 1px solid green;
    max-width: 100%;
}

.element{
    border: 1px solid red;
    padding: 100px;
}

.elm-col-2{
    grid-column: span 2;
}

.elm-col-2{
    grid-row: span 2;
}

/* BUSINESS IN AGENCY */
#blue-span{
    width: 100%;
    background-color: #b4d0e7;
    /* DEBUG */
    min-height: 300px;

}

/* FAQ CONTENT */
#faq-container{
    width: 60%;
    margin: 10%  auto;
    /* flex */
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* FOOTER */
footer{
    width: 100%;
    background-color: black;
    /* DEBUG */
        height: 400px;
}

#footer-container{
    width: 80%;
    margin: 100px auto 0 auto;
    /* DEBUG */
    border: 1px solid #fff;
    height: 300px;
    
}