/* DEFAULT SETTINGS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER SETTINGS */
nav{
    height: 70px;
    width: 100%;
    position: fixed;
    /* flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* DEBUG */
    border: 1px solid red;
}

header main{
    width: 100%;
    height: calc(100vh - 70px);
    /* DEBUG */
    border: 1px solid tomato;
}

/* NAV BAR SETTINGS */
.upper-menu{
    width: 33%;
    height: 100%;
    background-color:black;

    /* flex */
    display: flex;
    justify-content:center;
}

.upper-menu div{
    width: 25%;

    /* DEBUG */
    border: 1px solid red;
}

/* MAIN JUMBOTRON SETTINGS */
#container{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding-top: 100px;
    /* DEBUG */
    border: 1px solid black;
}

#titol{
    width: 100%;
    margin: 0 auto;
    height: 20%;
    /* DEBUG */
    border: 1px solid red;
    
}

/* CONTENT SETTINGS */
#content{
    width: 100%; 
    height: 80%; 
    display: flex;
    justify-content: center;  
    /* DEBUG */
    background-color: tomato;
}

#paragraph{
    width: 40%;
    height: 100%;
}

#immage{
    width: 60%;
    height: 100%;
}