/* DEFAULT SETTINGS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open sans;
}

/* container settings */
#container-plan{
    width: 60%;
    margin: 0 auto;
    padding-top: 10%;
}   


/* BUTTON SETTINGS */
button{
    background-color: #045eef;
    color: #fff;
    border: none;
    font-size: 15px;
    width: 225px;
    height: 46px;
}

#gray-btn{
    background-color: #fff;
    color: gray;
    border: 1px solid black;
}

/* COLOR OG IMMAGE OF GRID */
#grid-container img{
    filter: brightness(0) invert(1);
 }
